{% extends "e_learning/layout.html" %}
{% load static %}

{% block script %}
<script src="{% static 'e_learning/index.js' %}"></script>
{% endblock %}
{% block body %}
<h1>Create Subject </h1>
<form id ="create_subject" method="post">
    {% csrf_token %}
    <input class="form-control" placeholder="Course name" aria-label="Username" aria-describedby="basic-addon1" id ="teacher" name ="teacher" value="{{ request.user }}" hidden><br>
    <label> Subject name</label>
    <input class="form-control" placeholder="Course name" aria-label="Username" aria-describedby="basic-addon1" type="text" name="subject_name" id="subject_name">
    <label> Subject description</label>
    <textarea class="form-control" aria-label="With textarea" name="subject_description" id="subject_description" required></textarea> <br>
    <input class="btn btn-primary " type="submit" id="create_subject" value="create subject">
    

</form>


{% endblock %}