{% extends "e_learning/layout.html" %}
{% load static %}


{% block script %}
<script src="{% static 'e_learning/index.js' %}"></script>
{% endblock %}
{% block body %}
<h1>Delete Course </h1>
<form id ="delete_course" method="post"  >
    {% csrf_token %}
    <label for="subject_name">Choose a subject:</label>
    <select id="subject_name" name="subject_name"required>
        {% for subject in subjects %}
        
      <option value="{{subject.subject_name}}">{{subject.subject_name}}</option>
      {% endfor %}
      
    </select>
    <label for="course_name">Choose a course:</label>
    <select id="course_name" name="course_name" required>
        {% for course in courses %}
        
      <option value="{{course.course_name}}">{{course.course_name}}</option>
      {% endfor %}
      
    </select>

   
    
    
    
    <button type ="submit" id="deletebut">Delete Course</button>

</form>

{% if error %} 
{{error}}
{% endif %}



{% endblock %}