{% extends "e_learning/layout.html" %}
{% load static %}

{% block script %}
<script src="{% static 'e_learning/index.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Profil Page</h1>
            <div  class="profile-header" >
                <img src="{{ img.url }}"  class="rounded-circle" alt="Profile Image" >
                <div class="profile-info"  >
                <p>Name :<b>{{n.username }}</b> </p>
               <p>  Email:<b> {{ n.email }}</b></p>
               <p> Bio: <b> {{message}}</b></p>
            </div>

            </div>
            
             <form action="{% url 'editprofile' n.username %}" style="margin-right: 50px;">
                {% csrf_token %}
               
                <button type="submit" class="btn btn-outline-danger">Edit profil</button>
                </form>
            
    </div>
</div>
</div>
<div class="static"> </div>




<input type="hidden" id="nams" value="{{enrolled}}">

<canvas id="enrollmentChart" width="400" height="200"></canvas>

{% if courses %}
<div style="display: flex;">
{% for course in courses %}
<div class="course" id="{{ course.course_name }}" style="border: solid 1px black; width: 300px; height: 200px; font-size: 2em; margin: 4px; text-align: center; background-color: grey;">
    <strong>{{ course.course_name }}</strong>
    <br>
    <span class="status">
        
            <span style="color: green;">Opened</span>
        </span>
        <br>
        <a href="{% url 'course' course.course_name %}" id="{{ course.course_name }}" class="btn btn-outline-primary" style="position: relative; margin-bottom: -100px;">Open This Course</a>
    </div>
{% endfor %}</div>
{% endif %}






{% endblock %}