{% extends "e_learning/layout.html" %}
{% load static %}

{% block script %}
<script src="{% static 'e_learning/index.js' %}"></script>
{% endblock %}
{% block body %}

{% if user.is_authenticated %}
 <h2>{{message}}</h2>
 {% endif %}  
 <h1>view subject : {{subject.subject_name}} </h1>
    
<div>
    <p>Subject name : {{subject.subject_name}}    </p>
    <p>Description : <br>{{subject.subject_description}}    </p>
    <p> Teacher : {{subject.teacher.teacher_user}}    </p>
    <p> created at : {{subject.created_at}}    </p>
    <p> All courses in this subject :
       
        <br>{% for course in courses %}
        <li>
        <a href="{% url 'course' course.course_name %}">{{course.course_name}}</a>
        </li>
        {% endfor %}
    </p>
    
    

</div>


{% endblock %}